body {

  margin: 0;
  background: #303030;
  color: aliceblue;
}

.title {
  text-align: center;
  margin-top: 150px;

}

.title-sub {
  text-align: center;
}

.div1 {
  margin: 20px auto;
  width: 200px;
  background: wheat;
  color: black;
  padding: 20px;
  border-radius: 5px;
}

.navbar {
  background: white;
  padding: 20px;

}


.navbar  a {
  margin-right: 10px;

}

.card-img {
  width: 100%;
  height: auto;
}